:root {
    --policy-color: oklch(0.551 0.027 264.364);
    --heading-color: oklch(0.21 0.034 264.665);
    --button_background: #F3F4F6;
    --btn_color: #FFFFFF;
    --yellow_color: #E6A300;
    --red_color: oklch(0.505 0.213 27.518);



    font-size: 10px;
    font-family: ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100vh;
    
}

.dashbord_Aside_Container{
    background-color: var(--btn_color);
}

.dashbord_Main_Container{
background-color: var(--button_background);
}

.taskmaster_Container{
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 align-items: center;
 padding: 1rem 2rem;
 font-size: 1.6rem;
 color: var(--heading-color);
 font-weight: 700;
 border-bottom: 1px solid var(--button_background);
}

.taskmaster_Container_Child {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}

.logo_Image{
    width: 40px;
}

/* email-Section*/
.email_Container{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    color: var(--heading-color);
    border-bottom: 1px solid var(--button_background);
}

.email_Container_Child{
    display: flex;
    flex-direction: column;
    

}

.email_Container_Fullname{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 0.2rem;

}

.email_Container_Email_Address{
   font-weight: 400;
   color: var(--heading-color);
   line-height: 1.6rem;
}


.dashboard_Settings_Container{
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 18rem;
}

.dashboard_Settings_Dashboard_Container{
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--heading-color);
    padding: 0rem 2.5rem;
   
}

.logout_Container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 1px solid var(--button_background);
    border-top: 1px solid var(--button_background);
    padding: 2rem 2rem;
    color: var(--red_color);
    font-weight: 500;
    font-size: 1.4rem;
    
}

.dashboard_Icons{
    width: 22px;
    height: 22px;
}