body{
    box-sizing: border-box;
    width:100vw;
    height: 100vh;

}


:root {
    --policy-color: oklch(0.551 0.027 264.364);
    --heading-color: oklch(0.21 0.034 264.665);
    --button_background: #F3F4F6;
    --btn_color: #FFFFFF;
    --yellow_color: #E6A300;
    --red_color: oklch(0.505 0.213 27.518);
    --purple_color: #4F39F6;
    --background-color:#F9FAFB;
    --heading: rgb(30, 41, 59);
    --white_color:#fff;
    --blue_color:#155DFC;
    --green_color:oklch(0.627 0.194 149.214);
    --gray_color:#F3F6FD;
    --light_blue:#9ABDF8;
    --torquese:#06B6;
    
    font-size: 10px;
    font-family: ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100vh;
    

}

.dashbord_Aside_Container {
    background-color: var(--btn_color);
}

.dashbord_Main_Container {
    background-color: var(--button_background);
}

.taskmaster_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--heading-color);
    font-weight: 700;
    border-bottom: 1px solid var(--button_background);
}

.taskmaster_Container_Child {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}

.logo_Image {
    width: 40px;
}

/* email-Section*/
.email_Container {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    color: var(--heading-color);
    border-bottom: 1px solid var(--button_background);
}

.email_Container_Child {
    display: flex;
    flex-direction: column;


}

.email_Container_Fullname {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 0.2rem;

}

.email_Container_Email_Address {
    font-weight: 400;
    color: var(--heading-color);
    line-height: 1.6rem;
}


.dashboard_Settings_Container {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 18rem;
}

.dashboard_Settings_Dashboard_Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--heading-color);
    padding: 0rem 2.5rem;

}

.dashboard_Settings_Dashboard_Container :hover {
    color: var(--purple_color);
}

.dashboard_Icons {
    width: 22px;
    height: 22px;
}

.dashboard_Icons:hover {
    fill: var(--purple_color);
}

.logout_Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 3px solid var(--button_background);
    border-top: 2px solid var(--button_background);
    padding: 2rem 2rem;
    color: var(--red_color);
    font-weight: 500;
    font-size: 1.4rem;
}


/*______TASK-CONTAINER__________________________*/
.task_Container{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border-left: 1px solid var(--button_background);
}

.task_Container_Child{
    display: flex;
    height: 15%;
    border-radius: 2rem 2rem 0 0;
    border: 0.1rem solid var(--button_background);
    background-color: var(--background-color);
    padding: 0.5rem 2rem;
    align-items: center;
}

.task_Container_Management{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1rem;
}

.task_Container_Heading{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--heading-color);
    margin: 0;
}
.task_Container_Paragraph{
    padding: 2rem 0 0 0;
}

.task_Container_Paragraph_Two{
    font-size: 1.4rem;
    color: var(--policy-color);
}

/*____________AI_SUMMARY SESSION_________*/
.task_AI_Summary_Parent{
    background-color: var(--white_color);
    border-radius: 0 0 2rem 2rem;
    border: 0.1rem solid var(--button_background);
    padding: 3.0rem 2rem 3rem 2rem;
}

.task_AI_Summary, .ai_Summary_Section{
    display: flex;
    gap: 2rem;
    background-color: var(--button_background);
    width: 24%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.circle_Icon{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid rgb(28, 21, 21);
    position: relative;

}
.task_Summary_Button, .history_Button{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 500;
    color: var(--heading);
    background-color: transparent;
    border: none;
    padding: 0.5rem 0.8rem;
}

.task_Summary_Button:active{
    background-color: var(--white_color);
    border: none;
    outline: none;
}

.svg_Mark_Icon{
    position:absolute;
    top:25%;
    left: 50%;
}

/*______ACTIVE_COMPLETED_SESSION_____*/

.active_Completed_Session{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
    height:56px;
    align-items: center;
    margin: 5rem 0;
}

.active_Completed_Session_Status{
    display: flex;
    gap: 4rem;
    height:3.6rem;
    width: 20%;
     /* border: 2px solid red;  */
}

.active_Details, .completed_details{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-right: 1px solid var(--policy-color);
    width: 50%;
    /* border: 2px solid red; */
} 

.active_Task_Count, .completed_Task_Count{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
     /* border: 2px solid red;  */
}

.active_Task_Count{
    color: var(--heading-color);
}

.completed_Task_Count{
    color: var(--green_color);
    margin: 0;
}

.completed_Task_Status, .active_Task_Status{
    font-size: 14px;
    color: var(--policy-color);
}

.add_Task_Button{
    background-color:var(--blue_color) ;
    width: 10.5rem;
    padding: 0.8rem;
    color: var(--white_color);
    border: none;
    border-radius: 0.5rem;
}

.task_Window{
    display: flex;
    width: 99.62rem;
    height:16.4rem;
    border:1px dashed var(--policy-color) ;
    border-radius: 1rem;
    background-color: var(--gray_color);
    justify-content: center;
    align-items: center;
}

.task_Window_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 24px;
 
}
.task_Window_Text{
    font-size: 1.6rem;
    color: var(--policy-color);
    margin: 0;
}

.task_Window_Text_Plus {
    font-size: 1.4rem;
    color: var(--policy-color);
    margin: 0;
}
.task_Window_Circle{
    margin-bottom: 0.8rem;
    
}

/*_______TASK_WINDOW_MODAL________*/
.task_Window_Modal{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 50.2rem;
    height:41.6rem;
    background-color: var(--background-color);
    border-radius:1rem;
    /* border: 2px solid red; */
    padding: 1rem 2rem ;
    margin-top: 2rem;
}

.task_Modal_Create{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    /* border: 2px solid red; */
    height: 2.8rem;
    padding-top: 1rem;

}
.task_Modal_Create_Text{
     font-size: 2.0rem;
     font-weight: 600;
     color: var(--heading);
}

.task_Window_Close{
    position: absolute;
    top:0.6rem;
    right:2.5rem;
}

.task_Modal_Create_Paragraph{
    color: var(--policy-color);
    font-size: 1.4rem;
    margin: 0;
}

.task_Title{
    color: var(--heading);
    font-size: 1.4rem;
    font-weight: 500;
}


#task_Input{
    width:41.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--light_blue);
    background-color: var(--btn_color);
    margin-top: 0.5rem;


}
#task_Input::placeholder{
    font-size: 1.4rem;
}

#task_Input:active{
    border: 0.2rem solid var(--light_blue);
    outline: none;
}
#task_Input:inactive {
    border: none;
    outline: none;
}

.task_Input_Icon_Container{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.task_Input_Icon{
    background-color: var(--button_background);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.description_Titles, .priority_Title, .due_Date_Title{
     margin: 5rem 0rem;
    color: var(--heading);
    font-size: 1.4rem;
    font-weight: 500;
}

#description_Input{
    width:48.2rem;
    height: 6.2rem;
    border: none;
    background-color: var(--btn_color);
    border-radius: 1rem;
    padding: 0;
    margin: 1rem 0rem;
}

#description_Input::placeholder{
    padding: 1rem;
}

.priority_Due_date_Container{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

#select_Priority{
  width: 22.3rem;
  height: 3.6rem;
  margin-top: 1rem;
  border: none;
border-radius: 1rem;

}

.due_Date_Container{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 22.3rem;
    height: 3.6rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--btn_color);
    border-radius: 1rem;
}

#due_Date_Input{
    border: none;
    width: 70px;
    padding: 0rem 1rem;
}

.cancel_Create_Task_Container{
    display: flex;
    gap: 2rem;
    justify-content: end;
    margin-top: 2rem;
    color: var(--btn_color);
}

.cancel_Button {
    border: 1px solid var(--policy-color);
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 7.6rem;
   
}

.cancel_Button:hover {
    color: var(--btn_color);
    background-color:var(--green_color) ;
}

.create_Task_Button {
    border: 1px solid var(--blue_color);
    width: 10.4rem;
    background-color: var(--blue_color);
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: var(--btn_color);

}

/*____AI_POWERED SESSION_____*/
.ai_Powered_Summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding: 0;
}

.powered_Summary{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

.aI_Powered_Task{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    
}

.get_Insight_Paragraph{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--policy-color);
    margin: 0;
}
.generate_New_Button{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 13rem;
    height: 30px;
    background-color: var(--blue_color);
    border-radius: 0.5rem;
    border: none;
    color: var(--btn_color);
}

.lastest_AI_Summary{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--button_background);
    width: 24%;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.ai_Session{
    display: flex;
    flex-direction: column;
    gap: 1.5gitrem;
}