:root{
    --policy-color: oklch(0.551 0.027 264.364);
    --heading-color: oklch(0.21 0.034 264.665);
    --button_background: #F3F4F6;
    --btn_color: #FFFFFF;
    --yellow_color: #E6A300;



    font-size: 10px;
    font-family: ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    
}


.main_Animation{
    width: 100vw;
    background-image: url("../images/savor-attic-62132250.figma.site_\ \(1\).png");
    background-position: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20rem;
}

.signup_Display{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
    width: 44.8rem;
    display: flex;
    flex-direction: column;
    padding: 2.6rem;
    background-color: var(--btn_color);
   
}

.signup_Display_Image{
    width: 8rem;
    height: 8rem;
    align-self: center;

}

/* Signuptext */
.signup_Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_Text_Heading{
    font-size: 3.0rem;
    font-weight: 700;
    color: var(--heading-color);
    margin: 1rem;
}

.signup_Text_Create{
    font-size: 1.6rem;
    color: var(--policy-color);
    margin: 0rem;
}

/*Button_Section*/
.button_Section_Parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 3rem;
    width: 30rem;
    align-self: center;
        
        /* border: 2px sold red; */

}
.button_Section_Child{
    background-color: var(--button_background);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;

}
.button_Section{
    border:none;
    padding: 0.5rem 7.5rem;
    background-color: var(--button_background);
    /* border: 2px solid red; */
    border-radius: 0.8rem;
    color:rgb(30, 41, 59);
    font-weight: 500;
    font-size: 1.4rem;
    }

 #login_Button{
    background-color: var(--btn_color);
 }

/* Form */
.form_Section{
    color: rgb(30, 41, 59);
    display: flex;
    flex-direction: column;
}

.label_Input{
    margin: 2rem 0; 
    
}

.label_Fullname{
    font-weight: 500;
    font-size: 1.4rem;
  
}

.input_Icons{
    width: 14px;
    height: 14px;
}

.fullname_Input{
    display: flex;
    gap: 0.8rem;
    border: 1px solid var(--policy-color);
    width: 36rem;
    padding: 1.3rem;
    border-radius: 1rem;
    margin-top: 0.8rem;
    align-items: center;

}

.inputs_Value{
    border: none;
    outline: none;
}



/*help__Create_button_section*/

.help_Create_Button_Section{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.botton_General{
    padding: 15px;
    width: 17rem;
    border-radius: 1rem;

}



.help_Button{
    display: flex;
    gap: 1rem;
    align-items: center;
    outline: var(--button_background);
    background-color: var(--button_background);
    border: 1px solid var(--button_background)
   

}

.create_Button{
    background-color: var(--yellow_color);
    border: none;
    outline: none;
}

.font-icon{
    color: var(--heading-color);
}
/* Terms of Service */

.privacy_Policy{
   color: var(--policy-color);
   font-size: 1.2rem;
   text-align: center;
}

.copyright_Paragraph{
    color: var(--policy-color);
    font-size: 1.4rem;
    text-align: center;
}

